
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Welcome to Admin Options";
}

<center><h2>@ViewBag.Title</h2></center>

<p>Please select an option.</p>





<center>
    <button type="button" class="btn btn-primary"
            onclick="window.location.href = '@Url.Action("listofClinic", "AdminOptions")';">
        <strong>Clinic Management</strong>
    </button>
</center>
<br />


<center>
    <button type="button" class="btn btn-primary"
            onclick="window.location.href = '@Url.Action("ViewReq", "AdminOptions")';">
        <strong>Criteria Management</strong>
    </button>
</center>
<br />


<center>
    <button type="button" class="btn btn-primary"
            onclick="window.location.href = '@Url.Action( "SourceInfo", "AdminOptions")';">
        <strong>Traffic Report</strong>
    </button>
</center>
<br />


<center>
    <button type="button" class="btn btn-primary"
            onclick="window.location.href = '@Url.Action( "ListSmtp", "AdminOptions")';">
        <strong>SMTP Mangement</strong>
    </button>
</center>
<br />
<center>
    <button type="button" class="btn btn-primary"
            onclick="window.location.href = '@Url.Action( "ListAccount", "Account")';">
        <strong>Account Management</strong>
    </button>
</center>
<br />

<center>
    <button type="button" class="btn btn-primary"
            onclick="window.location.href = '@Url.Action( "listofPaitent", "AdminOptions")';">
        <strong>User Submission Report</strong>
    </button>
</center>
<br />


<input type='button' class="btn btn-danger" value="Logout" onclick="window.location.href ='@Url.Action("Logout", "Account")';" />

<br /><br />