@model ClinicV2.Models.clinicModel

@{
    ViewBag.Title = "ClinicAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ClinicAdd</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>clinicModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.zip, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.zip, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.zip, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.state, new List<SelectListItem> {

                new SelectListItem {Text = "Alabama", Value = "AL"},
                new SelectListItem {Text = "Alaska", Value = "AK"},
                new SelectListItem {Text = "Arizona", Value = "AZ"},
                new SelectListItem {Text = "Arkansas", Value = "AR"},
                new SelectListItem {Text = "California", Value = "CA"},
                new SelectListItem {Text = "Colorado", Value = "CO"},
                new SelectListItem {Text = "Connecticut", Value = "CT"},
                new SelectListItem {Text = "District of Columbia", Value = "DC"},
                new SelectListItem {Text = "Delaware", Value = "DE"},
                new SelectListItem {Text = "Florida", Value = "FL"},
                new SelectListItem {Text = "Georgia", Value = "GA"},
                new SelectListItem {Text = "Hawaii", Value = "HI"},
                new SelectListItem {Text = "Idaho", Value = "ID"},
                new SelectListItem {Text = "Illinois", Value = "IL"},
                new SelectListItem {Text = "Indiana", Value = "IN"},
                new SelectListItem {Text = "Iowa", Value = "IA"},
                new SelectListItem {Text = "Kansas", Value = "KS"},
                new SelectListItem {Text = "Kentucky", Value = "KY"},
                new SelectListItem {Text = "Louisiana", Value = "LA"},
                new SelectListItem {Text = "Maine", Value = "ME"},
                new SelectListItem {Text = "Maryland", Value = "MD"},
                new SelectListItem {Text = "Massachusetts", Value = "MA"},
                new SelectListItem {Text = "Michigan", Value = "MI"},
                new SelectListItem {Text = "Minnesota", Value = "MN"},
                new SelectListItem {Text = "Mississippi", Value = "MS"},
                new SelectListItem {Text = "Missouri", Value = "MO"},
                new SelectListItem {Text = "Montana", Value = "MT"},
                new SelectListItem {Text = "Nebraska", Value = "NE"},
                new SelectListItem {Text = "Nevada", Value = "NV"},
                new SelectListItem {Text = "New Hampshire", Value = "NH"},
                new SelectListItem {Text = "New Jersey", Value = "NJ"},
                new SelectListItem {Text = "New Mexico", Value = "NM"},
                new SelectListItem {Text = "New York", Value = "NY"},
                new SelectListItem {Text = "North Carolina", Value = "NC"},
                new SelectListItem {Text = "North Dakota", Value = "ND"},
                new SelectListItem {Text = "Ohio", Value = "OH"},
                new SelectListItem {Text = "Oklahoma", Value = "OK"},
                new SelectListItem {Text = "Oregon", Value = "OR"},
                new SelectListItem {Text = "Pennsylvania", Value = "PA"},
                new SelectListItem {Text = "Rhode Island", Value = "RI"},
                new SelectListItem {Text = "South Carolina", Value = "SC"},
                new SelectListItem {Text = "South Dakota", Value = "SD"},
                new SelectListItem {Text = "Tennessee", Value = "TN"},
                new SelectListItem {Text = "Texas", Value = "TX"},
                new SelectListItem {Text = "Utah", Value = "UT"},
                new SelectListItem {Text = "Vermont", Value = "VT"},
                new SelectListItem {Text = "Virginia", Value = "VA"},
                new SelectListItem {Text = "Washington", Value = "WA"},
                new SelectListItem {Text = "West Virginia", Value = "WV"},
                new SelectListItem {Text = "Wisconsin", Value = "WI"},
                new SelectListItem {Text = "Wyoming", Value = "WY"}



         }, "", new {@class = "from-control"})
            @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AddrName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AddrName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AddrName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>


}

<div>
    @Html.ActionLink("Back to List", "Index","Info")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
