@model ClinicV2.Models.CreateCriteriaModel
@{
    ViewBag.Title = "CreateReq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateReq</h2>
<script>

    var q = @Html.Raw(Json.Encode(Model.listofCriteriaValue));

 
    //automatically populate the criteria with the right value
    function addCriteria() {

        var Criteria = document.getElementById("Criteria_Name").value;
        var Criterialist = document.getElementById("Criteria_Value");
        while (Criterialist.length > 1) {
            Criterialist.remove(Criterialist.length - 1);
        }

        for (var counter = 0; counter < q.length; counter++) {
            if (q[counter].Name == Criteria) {
                var option = document.createElement("option");
                var stringOp = q[counter].Value;
                 option.text = stringOp;
                Criterialist.add(option);
            }


        }
    }

</script>

<body onload="addCriteria()">
    <h3 style="color:green">
        @ViewBag.ExistMess
    </h3>
    <div>
        @using (Html.BeginForm("ViewReq", "AdminOptions", FormMethod.Post))
        {


            <div class="col-md-12" id="DropCriteriaName">
                <strong>Clinic</strong>
                <div>
                    @Html.DropDownListFor(model => model.Criteria.clinicName, new SelectList(Model.listofClinic, "Name", "Name"))
                </div>
                <div>

                </div>

            </div>


            <div class="col-md-12">
                <strong>Criteria</strong>
                <div>
                    @Html.DropDownListFor(model => model.Criteria.Name, new SelectList(Model.CriteriaOption), "Select Criteria", new { @class = "from-control ", @onchange = "addCriteria()" })
                </div>
               
            </div>
            <div class="col-md-12">
                <strong>   Value  </strong>             

                <div>
                    @Html.DropDownListFor(model => model.Criteria.Value, new List<SelectListItem>
                               {

                               }, "Select Criteria", new { @class = "from-control " })
                </div>
        
            </div>

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        }
    </div>
    <div>
        @Html.Partial("_GetRequirement", Model.listofCriteria)
    </div>


</body>