@model  IEnumerable<ClinicV2.Models.clinicModel>

@{
    ViewBag.Title = "GetRequirement";
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css">
}
    <head>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <style>
        #map {
        height:400px;
        width:100%;
        }

    </style>



<body>
    <script src="~/Scripts/CustScript/MapScript.js"></script>
    <hr>
    <div>
        @*<input type="checkbox" id="18+" onclick="Getnewlist()">Age <br />
            <input type="checkbox" id="Housing" onclick="Getnewlist()"> Housing<br />
            <input type="checkbox" id="Income" onclick="displayClinic()"> Income<br />
            <input type="checkbox" id="Insurance" onclick="Getnewlist()"> Insurance<br />*@
        <div>
            <table class="table-bordered">
                <tr>

                    <th>Clinic Name</th>
                    <th>Address</th>
                    <th>Website</th>
                    <th>Phonenumber</th>
                    <th>Distance</th>
                </tr>

                @foreach (var item in Model)
                {

                    <tr id="@item.Name">
                        <td><input type="checkbox" name="clinicName" id="ID_@item.Name" value="@item.Email" onclick="geocode('@item.Address','ID_@item.Name','fromList')"> @item.Name</td>
                        <td><label id="@item.Address"> @item.Address </label></td>
                        <td><a href="http://@item.Email" target="_blank">@item.Email</a></td>
                        <td><label> @item.PhoneNumber </label></td>
                        <td id="Distance_@item.Name"></td>
                    </tr>
                }
            </table>

        </div>
    </div>
    <hr>


</body>


