@model  IEnumerable<ClinicV2.Models.clinicModel>

@{
    ViewBag.Title = "GetRequirement";
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css">
}
    <head>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <style>
        #map {
        height:400px;
        width:100%;
        }

    </style>



<body>
    <script src="~/Scripts/CustScript/MapScript.js"></script>
    <hr>
    <div>
   
        <div>
            <table class="table table-striped table-hover table-bordered" id="list_Of_Clinic" >
                <tr>

                    <th>Clinic Name</th>
                    <th>Address</th>
                    <th>Website</th>
                    <th>Phonenumber</th>
                    <th>Email</th>
                    <th>Distance</th>
                </tr>

                @foreach (var item in Model)
                {

                <tr id="@item.Name">
                    <td><input type="checkbox" name="clinicName" id="ID_@item.Name" value="@item.Email" onclick="geocode('@item.Address','ID_@item.Name','fromList')"> @item.Name</td>
                    <td><label id="@item.Address"> @item.Address </label></td>
                    <td><a href="http://@item.Website" target="_blank">@item.Website</a></td>
                    <td><label> @item.PhoneNumber </label></td>
                    <td><label> @item.Email </label></td>
                    <td id="Distance_@item.Name"></td>
                </tr>
                }
            </table>

        </div>
    </div>
    <hr>


</body>


