
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewData["Title"] = "Admin Options";
}

<center><h2>@ViewBag.Title</h2></center>

<p>Please select an option.</p>



<form method="post">

    <center><input type="button" value="Clinic Management" class="btn btn-primary" onclick="window.location.href = '@Url.Action("listofClinic", "Info")';" /></center>
    <p><br /></p>


    <center><input type="button" value="Criteria Management" class="btn btn-primary" onclick="window.location.href = '@Url.Action("ViewReq", "Info")';" /></center>
    <p><br /></p>


    <center><input type="button" value="Traffic Info" class="btn btn-primary" onclick="window.location.href = '@Url.Action( "TestView", "Info")';" /></center>
    <p><br /></p>

    <input type='button' class="btn btn-primary" value="Logout" onclick="window.location.href ='@Url.Action("Logout", "Home")';" />
</form>
<br /><br />