@model ClinicV2.Models.CreateCriteriaModel
@{
    ViewBag.Title = "CreateReq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateReq</h2>
<script>

    var q = @Html.Raw(Json.Encode(Model.listofClinic));


    function test() {
      

        alert(q[0].Name);
    }

</script>

<body>


    <div>


        @using (Html.BeginForm("ViewReq", "Info", FormMethod.Post))
        {
       

                <div class="col-md-12">
                    Clinic   @Html.DropDownListFor(model => model.Criteria.clinicName, new SelectList(Model.listofClinic, "Name", "Name"))
                </div>


                <div class="col-md-12">
                    Criteria @Html.DropDownListFor(model => model.Criteria.Name, new SelectList(Model.CriteriaOption))
                </div>


           
                <div class="col-md-12">
                   Value  @Html.EditorFor(model => model.Criteria.Value, new { htmlAttributes = new { @class = "form-control" } })
                </div>
         
            
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
        

        }
    </div>
    <div >
        @Html.Partial("_GetRequirement", Model.listofCriteria)
    </div>


</body>