@model ClinicV2.Models.CreateCriteriaModel
@{
    ViewBag.Title = "CreateReq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateReq</h2>

<body>

    @using (Html.BeginForm("ViewReq", "Info", FormMethod.Post))
    {
        <div>

            <div class="col-md-10">
                Clinic   @Html.DropDownListFor(model => model.Criteria.clinicName, new SelectList(Model.listofClinic, "Name", "Name"))
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                Criteria    @Html.DropDownListFor(model => model.Criteria.Name, new SelectList(Model.CriteriaOption))
            </div>
        </div>

 
        <div class="form-group">
            @Html.LabelFor(model => model.Criteria.Value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Criteria.Value, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    }


    <div>
        @Html.Partial("_GetRequirement", Model.listofCriteria)
    </div>
</body>